@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');
body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    width: max-content;
    
    font-family: 'Poppins';
}
.HeaderContainer {
    height: 6vw;
    display: flex;
    width: 100vw;
    background-color: red;
    align-items: center;
    font-family: 'Poppins';
    font-size: 40px;
    color: white;
}
.HeaderMainName {
    width: 65%;
    justify-content: center;
    padding: 0 5vw;
}
.HeaderLinkContainer {
    width: 10%;
}
.HeaderLinks {
    display: flex;
    justify-content: center;
}
.LogoContainer {
    width: 30px;
    height: 30px;
    background-color: white;
    margin: 0 5px;
}
.ContactButtonContainer {
    width: 30%;
}
.ContactButton {
    background-color: rgb(145, 145, 145);
    color: white;
    padding: 20px 22px;
    font-size: 20px;
}


/* Contacts page */

h1, h2 {
    padding: 0;
    margin: 0;
}

.ContactsContainer {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
}

.background {
    width: 100%;
    height: max-content;

    display: flex;
}

#contactsBackground {
    width: 100%;
    position: relative;
    display: flex;
}

.mainTextDiv {    
    width: max-content;

    color: white;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    

    text-align: center;
}

#mainText {
    font-size: 6vh;
    font-weight: 600;
}

#secText {
    font-size: 3vh;
    font-weight: 400;
}

.contactInformation {
    width: 100%;
    height: max-content;
}

/* Accordion Dropdown */

.accordionDropdown {
    width: 50%;
    background-color: #1f1f1f;
}

/* Contacts form */

.onlineForm {
    width: 40%;
    height: 50vh;
    text-align: center;
}

#persInf {
    width: 800px;
}

.name {
    height: 50px;
}

.email {
    margin-top: 1vh;
    height: 50px;
}

.message {
    margin-top: 1vh;
    height: 285px;

    resize: none;
}


::placeholder {
    font-size: 1.5vh;
    font-weight: 500;

    font-family: 'Poppins';

    padding: 1vh;
}

#submitButton {
    width: 800px;
    height: 50px;

    background-color: #919191;
    color: white;
}



/* media querries */
/* 
@media  (max-width: 1600px) {

    #mainText {
        font-size: 2vh;
    }
    
} */