@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');
body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    
    font-family: 'Poppins';
}
.HeaderContainer {
    height: 6vw;
    display: flex;
    width: 100vw;
    background-color: transparent;
    align-items: center;
    font-family: 'Poppins';
    font-size: 40px;
    color: white;
    position: absolute;
    z-index: 1000;
}
.HeaderMainName {
    width: 65%;
    justify-content: center;
    padding: 0 5vw;
}
.HeaderLinkContainer {
    width: 10%;
}
.HeaderLinks {
    display: flex;
    justify-content: center;
}
.LogoContainer {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#socialLogo {
    filter: invert(100%) sepia(4%) saturate(105%) hue-rotate(31deg) brightness(115%) contrast(100%);
    width: 25px;
    transition: 250ms ease-in-out;
}

#socialLogo:hover {
    filter: invert(64%) sepia(0%) saturate(7135%) hue-rotate(19deg) brightness(93%) contrast(89%);
    cursor: pointer;
}

.languageSelector {
    margin-left: 2vh;
    font-size: 3vh;
    font-weight: 600;
    font-family: 'Poppins';
}

.ContactButtonContainer {
    width: 30%;
}
.ContactButton {
    background-color: rgb(145, 145, 145);
    color: white;
    padding: 20px 22px;
    font-size: 20px;
    text-decoration: none;
}
.ContactButton:hover {
    background-color: rgb(122, 122, 122);
    cursor: pointer;
}




/* Contacts page */

h1, h2 {
    padding: 0;
    margin: 0;
}

.ContactsContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
}

.background {
    width: 100%;
    height: 40vh;
    display: flex;
}

.filter {
    background-color: black;
    opacity: 45%;
    width: 100%;
    height: inherit;

    position: absolute;
}

#contactsBackground {
    display: flex;
    object-fit: cover;
    width: 100%;
}

.mainTextDiv {    
    width: max-content;

    color: white;
    
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);    

    text-align: center;
}

#mainText {
    font-size: 6vh;
    font-weight: 600;
}

#secText {
    font-size: 3vh;
    font-weight: 400;
}

.contactInformation {
    width: 100%;
    height: max-content;
    display: flex;
} 

/* Accordion Dropdown */

.accordionDropdown {
    float: left;
    width: 48%;
    display: flex;
    place-content: center;
}

.accordionMain {
    margin-right: 4vh;
    margin-top: 2vh;

    width: 100%;
    
    text-align: -webkit-center;

}

.accordionMain h2 {
    text-align: center;
    color: black;
    font-weight: 500;
    margin-bottom: 1vh;
}

.phoneEmail {
    display: flex;
    width: 50%;
    justify-content: center;
}

.phoneEmail img{
    width: 50px;
    height: 50px;

    filter: invert(60%) sepia(14%) saturate(13%) hue-rotate(95deg) brightness(94%) contrast(84%);
}

.phoneDiv {
    display: flex;
    width: 50%;
    align-items: center;
}

.emailDiv {
    display: flex;
    width: 50%;
    align-items: center;
}

#contacts p {
    margin-left: 1vh;
    font-size: 2vh;
    font-weight: 500;

    color: #919191;
}

/* Contacts form */

.onlineForm {
    width: 48%;
    float: right;
}

#onlineForm {
    margin-left: 4vh;
    margin-top: 2vh;
    text-align: center;

    width: 100%;

}

#onlineForm h2 {
    font-weight: 500;
    margin-bottom: 1vh;
}

#persInf {
    width: 75%;
    border-radius: 10px;
}

.name {
    height: 50px;
}

.email {
    margin-top: 1vh;
    height: 50px;
}

.message {
    margin-top: 1vh;
    height: 285px;

    resize: none;
}

::placeholder {
    font-size: 1.5vh;
    font-weight: 500;

    font-family: 'Poppins';

    padding: 1vh;
}

#submitButton {
    width: 600px;
    height: 50px;
    font-size: 2vh;

    margin-top: 2vh;
    background-color: #919191;
    color: white;
    transition: 300ms ease-in-out;
    border-radius: 10px;
}

#submitButton:hover {
    opacity: 0.8;
    cursor: pointer;
}



/* media querries */
/* 
@media  (max-width: 1600px) {

    #mainText {
        font-size: 2vh;
    }
    
} */